#header {
	background: url(images/greenoverlay.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 400px;
}

.myHeader h3, p, img {
	color: #fff;
}

.myHeader img {
	margin-left: 3em;
	height: 170px;
}

.myHeader h3 {
	margin-top: 1em;
	font-size: 1.6em;
	margin-right: 44%;
}

.myHeader p {
	padding: 0.5em;
	color: #fff;
	font-size: 2.6em;
	line-height: 1em;
	font-weight: 600;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
}



/* #logoRotator */
#logoRotator {
	margin-top: 3em;
}

.bulletRow {
	height: 18em;
	color: #000;
}

.rotatorRow {
	height: 18em;
}
.swiper-container {
    width: 600px;
    height: 300px;
}  
.swiper-slide img{
	max-width: 100%;
	height: 100%;
}
/* #textSection */
#textSection {
	margin-top: 3em;
	background: #eee;
	padding: 1em 0;
}

.smallerLetters {
	color: #000;
	padding: 1em;
	margin: 0;
	font-size: 1.05em;
}

.biggerLetters {
	font-size: 2em;
	line-height: 1.35em;
	margin: 0;
}

/* #pieChart */
#pieChart {
	margin-top: 3em;
	margin-bottom: 3em;
}

.pieRow {
	height: 20em;
}

.callRow {
	background-image: url("images/calltoaction.jpg");
	background-size: cover;
	height: 20em;
}

.textPieRow {
	height: 20em;
}

/* #caseStudy */
#caseStudy {
	margin-top: 3em;
	height: 20em;
	background: #eee;
}
.caller h2{
	font-size: 1em;
	color: #FFF;
	text-align: center;
	padding: 3em;
	background-color: rgba(0, 0, 0, 0.5);	
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #365d42;
    border-radius: 8px;
    background: #66ae7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#66ae7d), to(#365d42));
    background: -moz-linear-gradient(top, #66ae7d, #365d42);
    background: linear-gradient(to bottom, #66ae7d, #365d42);
    text-shadow: #203727 1px 1px 1px;
    font: normal normal bold 16px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##406d4e;
    background: #7ad196;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ad196), to(#41704f));
    background: -moz-linear-gradient(top, #7ad196, #41704f);
    background: linear-gradient(to bottom, #7ad196, #41704f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #365d42;
    background: -webkit-gradient(linear, left top, left bottom, from(#365d42), to(#365d42));
    background: -moz-linear-gradient(top, #365d42, #365d42);
    background: linear-gradient(to bottom, #365d42, #365d42);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABQUlEQVRIia3WsUoDQRSF4c8IIYJYiUgIUUTEykZBSCEWPoKVD2GZwjewsrayFrWytBALkRRiFVstBBvFItgIIRazSzYh2UQzB4ZluXD+nXvP7C6co41O33pBVQQNMk/X/qTmBfzk1OdiAD5y6ksxAG859Y0YgOeceg3FSQGNnPoClicBwJrhSboz4Q4Iu2gOML8RIUWpjvrMr1GKZQ5lfCfmnyI++XRybQmZ38QMXvEYC5KqkoA6+Eruo6uuO4dbERLUryLuM5BTIWVRVcV7BnIyAlLA4l8hNd15dHBmcGxLuBAOagPHOMAOtjCbB9nrgzxgJVMv4srwb0kHT+PsJNuuFg6FczLKPF0jVdU7+DTG45iPBSC0o663ZVEBqSpCdNPXSnRAqrLwgmzK/2loT/2XkKiAVexiG+vCzOaFtl7+Aut8jJNXJgrQAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

#footer {
	margin: 0;
	padding: 0;
	margin-top: 3em;
	height: 20em;
	background: #030303;
}


